<public-navbar-cmp></public-navbar-cmp>

<!-- my content -->
<div style="width: 50%; border:1px solid #333; margin: 0 25%; padding: 0 5%; ">
<h2>Login form page</h2>

<p>Login</p>
<form action="dashboard" onsubmit="javascript:alert('It will now navigate to dashboard'); document.location.href='/#/dashboard'">
<div>
<p>
<label for="username">Username</label>
</p>
<input id="username" name="username" type="text"/>
</div>
<div>
<p>
<label for="password">Password</label>
</p>
<input name="password" type="password"/>
</div>
<div>
<br/>
<input name="submit" type="submit" value="Submit"/>
<br/>
<input name="reset" type="reset" value="Reset"/>
</div></form>
</div>
